@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  --line-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: x-large;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
}

tr,
td,
th {
  border: 1.5px solid black;
  padding: 1rem;
}

thead {
  background-color: rgb(209, 209, 209);
}

select {
  background-color: #1b77f3;
  border-radius: 0.5rem;
  color: white;
}
